.dialogs {
    display: grid;
    grid-template-columns: 3fr 6fr;
    padding: 20px;
}

.persons a{
    text-decoration: none;
    font-size: 18px;
}

.person, .message{
    padding-bottom: 12px;
}

.person a:hover{
    color: red;
    font-weight: bold;
}

.message img{
    width: 50px;
    border-radius: 40px;
}


