.dialogs {
    display: grid;
    grid-template-columns: 300px 3fr;
    padding: 20px;
    margin-top: 50px;
}

.persons a{
    text-decoration: none;
    font-size: 18px;
}

.person, .message{
    padding-bottom: 12px;
}

.person a:hover{
    color: red;
    font-weight: bold;
}

.message img{
    width: 50px;
    border-radius: 40px;
}

.sentMessage {
    text-align: center;
}

.sentMessage textarea{
    border-radius: 7px;
    margin: 15px 0;
}

.sentMessage textarea:hover {
    border: 2px solid yellowgreen;
}

.sentMessage button {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 12px;
    font-weight: 700;
    margin-left: 370px;
}

.sentMessage button:hover {
    color: white;
    border: 2px solid white;
    background-color: coral;    
}