.profile_info {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-top: 80px;
}

.profile_info img {
    width: 190px;
    height: 190px;
    margin: 10px 10px 0 10%;
}

.personal_info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.contacts {
    display: block;
}

.contactInfo {
    padding-left: 15px;
}

.formSummaryError {
    border: 2px solid red;
    padding: 5px;
    color: red;
}